
body {
  background-color: #292828;
  color: orangered;
  font-family: Helvetica;
}

h1, h2 {
    color: orangered;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  overflow: hidden;
  background-color: orangered;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #a12b00;
}

.active {
  background-color: white;
  color: orangered;
}

.dropbtn {
  background-color: orangered;
  color: white;
  padding: 14px 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  float: left;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: orangered;
  border: 1px solid black ;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-lazyness {
  background-color: orangered;
  color: white;
  padding: 14px 16px;
  font-size: 16px;
  border: none;
}

.dropdown-content a:hover {background-color: #a12b00;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #a12b00;}

.card {
    color: white;
    background-color: orangered;
    box-shadow: 0 16px 64px 0 rgba(0, 0, 0, 0.2);
    width:  auto;
    margin: auto;
    margin-bottom: 30px;
    position: center;
    text-align: center;
    font-family: arial;
  }

.card h1 {
	  color: white;
  }

.profile {
    display: inline-block;
    width: 250px;
    background: transparent;
    border: transparent;
  }

  .backBtn {
    display: inline-block;
    border: transparent;
    color: white;
    background-color: orangered;
    box-shadow: 0 16px 64px 0 rgba(0, 0, 0, 0.2);
    width:  40px;
	height: 40px;
    margin: auto;
	margin-left: -80;
    margin-bottom: 10px;
    margin-top: 30px;
    position: relative;
    text-align: center;
    font-family: arial;
	font-size: 30px;
  }
  
button:hover, a:hover {
    opacity: 0.7;
  }
  
.name {
    padding: 5% 0;
  }
  
.Pic {
    width: 100%;
    height: 450%;
  }

/* table, th, td { */
/*     border:1px solid rgb(255, 255, 255); */
/*     color: orangered; */
/*   } */
table, th, td {
  border-collapse: collapse;
  border:1px solid rgb(255, 255, 255);
  }
  
.pause {
  border: transparent;
  background-color: black;
  }

.hour {
  background-color: black;
  color: white;
}

.day {
  background-color: black;
  color: white;
}

.ingle {
  background-color: rgb(233, 233, 16);
  color: black;
}

.tede {
  background-color: green;
  color: black;
}

.fra {
  background-color: aqua;
  color: black;
}

.ita {
  background-color: chartreuse;
  color: black;
}

.os {
  background-color: darkmagenta;
  color: black;
}

.oc {
  background-color:brown;
  color: black;
}

.mate {
  background-color: red;
  color: black;
}

.happy {
  background-color: cornflowerblue;
  color: black;
}

.stor {
  background-color:saddlebrown ;
  color: black;
}

.geo{
  background-color: blue;
  color: black;
}

.filo {
  background-color: darkslateblue;
  color: black;
}

.ecdi {
  background-color: orange;
  color: black;
}

.orcl {
  background-color: gray;
  color: black;
}

.ginna {
  background-color: deeppink;
  color: black;
}

.bio {
  background-color: aquamarine;
  color: black;
}

.fisica {
  background-color: dodgerblue;
  color: black;
}

.lam {
  background-color: darkslategrey;
  color: black;
}

.anno {
  font-weight: bold;
  color: orangered;
  background-color: black;
}
